@mixin buttonBase {
    padding: 7px;
    background: #fff;
    color: $blue;
    align-items: center;

    &:hover{
        cursor: pointer;
        border: $blue 1px solid;
        background: $blue;
        color: #fff;
    }
}

.btn{
    @include buttonBase;

    border-radius: 5px;
    border: $blue 1px solid;

}
  
.btn-icon {
    @include buttonBase;
    border: none;
    border-radius: 50%;
}