
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #fff;
	border: none;
	padding:0.7rem 2rem;
    margin-bottom: 1rem;
	width: 100%;
}