@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;600;700&display=swap');

@import 'config';
@import 'responsive';
@import 'buttons';
@import 'form';

* {
  font-family: 'Merriweather', serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: $creme;
  color: set-text-color($creme);
  height: 100%;
}

h1, h2, h3 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

a {
  color: $blue;
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 0.5rem 3rem;
  border-bottom: $blue 1px solid;
  background-color: $creme;

  display: flex;
  justify-content: space-between;

  .nav-brand{
    font-weight: 600;
    font-size:x-large;
  }
}

footer {
  background-color: $blue;
  color: set-text-color($blue);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: block;
}

.content-center {
  display: flex;
  flex-direction: column;
  min-height: 82vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dashboard {
  padding: 1rem;
  min-height: 100vh;

  .title {
    text-align: center;
    h3 {
      color: grey;
      font-weight: 500;
      margin: 0 !important;
    }
  }

  .grid-container {
    margin: auto;
    padding: 0;
    width: 80vw;
    left: 50%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    justify-content: center;

  }
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 5px;

  .title {
    font-weight: 700;
    font-size:xx-large;
    text-align: left;

  }

  .subtitle {
    font-weight: 600;
    font-size: medium;
    color: $dark-creme;
    margin-bottom: 10px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.text-center{
  text-align: center;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.justify-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-border{
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
}